.person-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background: #090b18;
  cursor: pointer;
  border: 0.5px solid #a5aaed;
  font-family: 'STARWARS';

}
.person-details:hover {
  box-shadow: 14px -5px 97px 5px rgba(45, 4, 228, 0.66);
  transition: .2s all;
}

.person-details .person-image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.person-details .list-group-item {
  padding: .25rem;
  background: #090b18;
}

.person-details .list-group-item .term{
  margin-right: .5rem;
}