.header {
  margin-top: 2rem;
  padding-left: 10px;
}

.header ul li {
  list-style: none;
  margin: 0;
  padding: .5rem 1rem;
  border-radius: 3px;
  background-color: #1646a5;
  margin-right: 1rem;
  cursor: pointer;
}

.header ul li:hover {
  box-shadow: 0px 0px 20px 5px rgba(5, 8, 190, 0.856);
  transition: .2s all;
}

.header a:hover {
  text-decoration: none;
}

.header a {
  color: white;
}

.header h3 a {
  color: yellow;
}

.header h3 a:hover {
  color: yellow;
}
